#WLpopup {
    position: fixed;
    background-color: #fff;
    right: 20px;
    top: 20px;
    z-index: 1000000;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -ms-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -o-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
}
#WLpopup p {
    text-align: center;
}
#WLpopup .presontLink {
    color: rgb(124, 175, 181);
    text-decoration: none;
}
#WLpopup .presontLink:hover {
    text-decoration: underline;
}
#WLpopup p.title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}