* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    font-family: 'Muli',sans-serif;
    /*background-image: url("/img/bg3.jpg");*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
}
.firstPage {
    position: relative;
}
.firstPageBackground {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/bg3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.secondPage {
    position: relative;
    z-index: 2;
}
.secondPageBackground {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/bg4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.bottomPage {
    background-image: url("/img/bg3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,0.45);
}
.JuliusSans {
    font-family: "Julius Sans One";
}
.leftColumn {
    overflow: hidden;
    margin-left: -1000px;
    /*display: none;*/
}
.rightColumn {
    overflow: hidden;
}

.column {
    width: 50%;
    float: left;
}
.textBox {
    margin-top: 30%;
    margin-left: 100px;
    color: #202020;
    float: left;
}
.formBox {
    float: right;
    margin-right: 120px;
    margin-top: 34%;
}
.bigText {
    font-family: 'Oxygen',sans-serif;
    font-size: 58px;
    line-height: 83px;
    font-weight: 100;
}
.smallText {
    font-size: 20px;
    margin: 0 0 6px 4px;
}
.small2Text {
    font-size: 14px;
    line-height: 17px;
    color: #525252;
    font-weight: 100;
    margin: 5px 0 76px 4px;
}
.lineBordered {
    border-top: 1px solid #B5B5B5;
    display: inline-block;
    width: 100px;
    height: 4px;
}
.or {
    color: #000;
    font-size: 16px;
    font-weight: 100;
    display: inline-block;
    width: 36px;
}
.hide {
    display: none;
}

input {
    font-size: 15px;
    padding: 9px 7px;
    border: 0;
    /*border-radius: 3px;*/
    width: 246px;
}
.customBtn {
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 0;
    font-size: 15px;
    width: 97px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #B5B5B5;
    border-radius: 0;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
}
.customBtn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}
.btn-white {
    color: #000000;
    background-color: #ffffff;
}
.btn-black:active, .btn-black:focus, .btn-black {
    color: #ffffff;
    background-color: #000000;
    margin-left:4px;
    width: 120px;
    border: 1px solid #000000;
}
.btn-green, .btn-green:active, .btn-green:focus {
    color: #ffffff;
    background-color: #849e93;
    margin-left:4px;
    width: 120px;
    border: 1px solid #849e93;
}
.btn-green:hover {
    color: #849e93;
    background-color: #ffffff;
    margin-left:4px;
    width: 120px;
    border: 1px solid #849e93;
}

.formBox .form-group {
    margin-bottom: 18px;
    width: 246px;
}

.alert {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
}
.errorAlert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.infoAlert {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.allWidth {width: 100%;}
.forgotLink {
    font-size: 14px;
    float: right;
    text-decoration: none;
    color: #9D9D9D;
    position: absolute;
    right: 9px;
    background-color: #fff;
    top: 11px;
    background: none;
}
.learnMore {
    font-size: 15px;
    color: #202020;
    margin-left: 60px;
    padding-bottom: 4px;
    border-bottom: 3px solid #000;
}
.learnMore:hover, .forgotLink:hover {
    text-decoration: none;
    border-bottom-color: #2a6496;
}
.noneMargin {
    margin:0px;
}

.left {
    float:left;
}
.right {
    float: right;
}
.center {
    text-align: center;
}

input {outline: none;}
.signUp {
    position: absolute;
    right: 100px;
    top: 20px;
    color: #626262;
    text-decoration: none;
}
.signUp:hover {
    text-decoration: underline;
}
.section {
    position: relative;
}
#firstPage, #secondPage {
    overflow: hidden;
}
.fb-connect {
    border: 1px solid #B5B5B5;
    padding: 0 0 0 17px;
    width: 246px;
    display: inline-block;
    /*color: #818181;*/
    color: #000000;
    vertical-align: middle;
    line-height: 40px;
    font-size: 15px;
    margin-bottom: 6px;
}
.fb-connect:hover {
    color: #fff;
    text-decoration: none;
    background-color: #4e69a2;
    border: 1px solid #FFFFFF;
}
.fb-connect .borderBox {
    border-right: 1px solid #B5B5B5;
    display: inline-block;
    height: 41px;
    margin: 0 5px 0 10px;
}
.fb-connect:hover .borderBox {
    border-right: 1px solid #FFFFFF;
}
.no-margin {
    margin: 0px !important;
}

.arrowBox a {
    color: #000;
    font-size: 50px;
}
.arrowBox a:hover {
    color: #FFFFFF;
}
.arrowBox {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: 50%;
    font-size: 30px;
    margin-bottom: -15px;
}
a:focus,
a:active,
button:focus,
button:active {
    outline: none;
    text-decoration: none;
    color: inherit;
}
.logo {
    height: 75px;
    top: -70px;
    right: 120px;
    position: absolute;
}

.column2 {
    width: 28%;
    float: left;
    font-size: 12px;
    padding: 30px;
    line-height: 14px;
}
.column12 {
    width: 100%;
    font-size: 12px;
    padding: 30px;
    line-height: 14px;
}
.column6, .column6big {
    width: 50%;
    float: left;
    font-size: 12px;
    padding: 30px;
    line-height: 16px;
}
.column6big {
    width: 53%;
    padding: 30px 30px 30px 80px;
}
.column4 {
    width: 43%;
    float:left;
    padding: 30px 30px 30px 60px;
}
.macBlock {
    position: relative;
}
.imac-tpl {
    width: 100%;
    margin-bottom: 45px;
    margin-top: 17px;
}
.mac-screen {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 424px;
}


.btn-custom {
    background-color: #C54368;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #ffffff;
    color: #C54368;
    border: 1px solid #C54368;
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }
    .column {
        width: 100%;
        float: none;
    }
    .textBox {
        margin: 40px auto;
        color: #202020;
        float: none;
        position: inherit;
        width: 250px;
    }
    .formBox {
        float: none;
        margin: 0 auto;
        position: inherit;
        width: 250px;
    }
    .bigText {
        font-size: 42px;
        line-height: 47px;
        font-weight: 100;
    }
    .smallText {
        font-size: 16px;
    }
    .small2Text {
        margin-bottom: 20px;
    }
    .signUp {
        display: none;
    }
    .learnMore {
        margin-left: 30px;
    }
}