/*
	========================================
	FRANSISCA GALLERY - PORTFOLIO THEME
	========================================
	
	@author			: @avriqq
	@version		: v1.1
	@date-create	: 07/03/2012
	@last-update	: 09/16/2014
	@file-name		: style

*/

/*
	========================================
	TABLE OF CONTENT
	========================================

	[1. GLOBAL STYLE]
	[2. TYPOGRAPHY]
	[3. NAVBAR]
	[4. HOME CONTENT]
		[4.1. SIDEBAR MENU]
	[5. ABOUT]
	[6. PROFILE]
	[7. PORTFOLIO]
		[7.1. FILTER NAV]
		[7.2. PORTFOLIO TITLE]
		[7.3. PORTFOLIO SLIDER]
		[7.4. ISOTOPE TRANSITION]
	[8. SINGLE/DETAIL]
		[8.1. SIDEBAR WIDGET]
		[8.2. WIDGET TAGS]
		[8.3. DETAIL COMMENT]
	[9. TAB SETTING]
	[10. SIGNIN/SIGNUP]
	[11. BLOG]
		[11.1. BLOG TITLE]
		[11.2. RELATED POSTS]
		[11.3. BLOG AUTHOR]
		[11.4. BLOG COMMENT]
	[12. FOOTER]

*/

/*
	============================
	[1. GLOBAL STYLE]
	============================
*/
body {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    font-family: 'Muli', 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #6b6e80;
    background-color: #f0f0f0;
    /*background-image: url('../img/body-bg.png');*/
    /*background-repeat: repeat;*/
}

a {
    /*color: #5d9cec;*/
    color: #C2C2C2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: rgb(124, 175, 181);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.priceLine

/*
	============================
	[2. TYPOGRAPHY]
	============================
*/
 h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.resize-none {
    resize: none;
}

.OswaldFont {
    font-family: 'Oswald', sans-serif;
}
.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}

.page-title {
    padding: 0;
    margin-bottom: 30px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.page-title h2 {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}

.page-title h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -11px;
    width: 100%;
    height: 2px;
    background-color: #6b6e80;
}

.page-title.title-center {
    text-align: center;
}

.heading-title {
    display: block;
    margin-bottom: 20px;
}

.heading-title h2 {
    font-weight: 700;
    color: #434a54;
    margin: 0;
    font-size: 24px;
    line-height: 28px;
}

.heading-title h3 {
    font-weight: 700;
    color: #434a54;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

/*
	============================
	[3. NAVBAR]
	============================
*/
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    border-bottom: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

.navbar-default .navbar-brand span {
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
    color: #6b6e80;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
}

.navbar-default .navbar-nav > li:last-child > a {
    border-right: 1px solid #ddd;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: #000;
    background-color: transparent;
}

.navbar-default .navbar-nav > li.dropdown.open > a,
.navbar-default .navbar-nav > li.dropdown.open > a:hover {
    background-color: #ddd;
    border-color: #ddd;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.dropdown-menu > li > a {
    color: #434a54;
    padding: 10px 10px;
}

.dropdown-menu > li > a > i {
    margin-right: 4px;
    width: 15px;
}

.dropdown-menu > li > a:hover {
    background-color: #4a89dc;
    color: #fff;
}

.dropdown-menu > li:last-child > a:hover,
.dropdown-menu > li:last-child > a:focus,
.dropdown-menu > .active:last-child > a,
.dropdown-menu > .active:last-child > a:hover,
.dropdown-menu > .active:last-child > a:focus {
    border-radius: 0 0 4px 4px;
}

.btn-search:hover {
    cursor: pointer;
}

/*.btn-search::before{*/
/*font-family: 'FontAwesome';*/
/*content: '\f00e';*/
/*}*/

/*.btn-search.active::before{*/
/*font-family: 'FontAwesome';*/
/*content: '\f010';*/
/*}*/

#searchbox {
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 3;
    width: 100%;
    padding: 15px 0 0;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#searchbox .form-control {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
    font-size: 13px;
    height: 35px;
}

#searchbox.searchbox-show {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*
	============================
	[4. HOME CONTENT]
	============================
*/
#content {
    width: 100%;
    padding: 0 49px;
}

.post-container {
    border-radius: 10px;
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -ms-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -o-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
}

.post-container:hover > .post-option {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*-webkit-transform: translateY(0);*/
    /*-moz-transform: translateY(0);*/
    /*-ms-transform: translateY(0);*/
    /*-o-transform: translateY(0);*/
    /*transform: translateY(0);*/
}

.post-option {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, .95);
    /*-webkit-border-radius: 2px 2px 0 0;*/
    /*-moz-border-radius: 2px 2px 0 0;*/
    /*-ms-border-radius: 2px 2px 0 0;*/
    /*-o-border-radius: 2px 2px 0 0;*/
    /*border-radius: 2px 2px 0 0;*/
    /*-webkit-transform: translateY(-100px);*/
    /*-moz-transform: translateY(-100px);*/
    /*-ms-transform: translateY(-100px);*/
    /*-o-transform: translateY(-100px);*/
    /*transform: translateY(-100px);*/
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.post-option .list-options {
    width: 100%;
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-option .list-options > li {
    display: table-cell;
    width: 25%;
}

.post-option .list-options > li > a {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #888888;
}

.post-option .list-options > li > a:hover {
    color: rgb(124, 175, 181);
    text-decoration: none;
}

.post-option .list-options > li > a span {
    display: block;
    padding: 3px 0;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    font-weight: 400;
    text-transform: uppercase;
}

.post-image {
    background-color: #fff;
    padding: 15px;
}

.post-image img:focus {
    outline: none;
}

.post-meta {
    padding: 15px;
    background-color: #fff;
}

.post-meta .list-meta,
.post-meta .list-meta > li {
    font-size: 12px;
    line-height: 14px;
}

.post-meta .list-custom,
.post-meta .list-custom > li {
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}

.post-desc {
    border-top: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    font-size: 14px;
}

.post-desc h2 {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 26px;
    color: #666;
}

.post-content {
    background-color: #fff;
    padding: 15px;
}

.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
	==================
	[4.1. SIDEBAR MENU]
	==================
*/
.sidebar-menu {
    background-color: #fff;
}

.sidebar-menu .nav-stacked > li + li {
    margin-top: 0;
}

.sidebar-menu .nav-pills > li > a {
    /*color:rgb(64, 144, 153);*/
    color: rgb(124, 175, 181);
    padding: 6px 15px;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-menu .nav-pills > li > a:hover,
.sidebar-menu .nav-pills > li > a:focus,
.sidebar-menu .nav-pills > .active > a,
.sidebar-menu .nav-pills > .active > a:hover,
.sidebar-menu .nav-pills > .active > a:focus {
    background-color: #f6f6f6;
    color: #434a54;
}

/*
	============================
	[5. ABOUT]
	============================
*/
.team-container {
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

.team-container .team-img {
    display: block;
    margin: 0 auto 20px;
    width: 160px;
    height: 160px;
    border: 4px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 0 3px 1px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 0 3px 1px rgba(0, 0, 0, .15);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .15);
    overflow: hidden;
    opacity: 0.70;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.team-container:hover > .team-img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.team-container h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin: 0 0 20px;
}

.team-container .list-inline {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}

.img-partners {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
	============================
	[6. PROFILE]
	============================
*/
.img-avatar {
    width: 32px;
    height: 32px;
    float: right;
    margin-left: 0 !important;
    margin-top: -6px;
    border-radius: 16px;
}

.profile-account {
    font-size: 13px;
    line-height: 18px;
}

.profile-account img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 120px;
    border: 1px solid #e2e2e2;
    line-height: 100%;
    padding: 0;
}

.profile-account h3 {
    margin: 0 0 7px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}

/*
	============================
	[7. PORTFOLIO]
	============================
*/
.portfolio-container {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px 1px #ddd;
    -moz-box-shadow: 0 0 1px 1px #ddd;
    -ms-box-shadow: 0 0 1px 1px #ddd;
    -o-box-shadow: 0 0 1px 1px #ddd;
    box-shadow: 0 0 1px 1px #ddd;
    overflow: hidden;
}

.portfolio-container .portfolio-img {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}

.portfolio-container .portfolio-img img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.portfolio-container:hover .portfolio-img img {
    opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    -o-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-container .portfolio-img a {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    -webkit-transform: translate3d(-30px, 0, 0);
    -moz-transform: translate3d(-30px, 0, 0);
    -ms-transform: translate3d(-30px, 0, 0);
    -o-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-container:hover .portfolio-img a {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-container .portfolio-img a .fa,
.portfolio-container .portfolio-img a .glyphicon {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

a:focus,
a:active,
button:active,
button:focus {
    outline: none !important;
    text-decoration: none !important;
}

.portfolio-container .portfolio-img a:hover,
.portfolio-container .portfolio-img a:focus,
.portfolio-container .portfolio-img a:active {
    outline: none;
}

.portfolio-container h3 {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 80%;
    margin: 0;
    padding-right: 10px;
    border-right: 2px solid #fff;
    text-align: right;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.portfolio-container:hover > h3 {
    position: absolute;
    top: 20px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.portfolio-container h3 a {
    color: #fff;
}

.portfolio-container h3 a:hover {
    color: #434a54;
    text-decoration: none;
}

.portfolio-container .portfolio-desc {
    position: absolute;
    left: 0;
    bottom: -48px;
    width: 100%;
    height: auto;
    padding: 12px 5px 5px;
    background-color: #fff;
    -webkit-transition: bottom 0.35s ease-in-out;
    -moz-transition: bottom 0.35s ease-in-out;
    -ms-transition: bottom 0.35s ease-in-out;
    -o-transition: bottom 0.35s ease-in-out;
    transition: bottom 0.35s ease-in-out;
}

.portfolio-container .portfolio-desc .list-meta {
    font-size: 13px;
    text-align: center;
}

.portfolio-container:hover .portfolio-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    -webkit-transition: bottom 0.35s ease-in-out;
    -moz-transition: bottom 0.35s ease-in-out;
    -ms-transition: bottom 0.35s ease-in-out;
    -o-transition: bottom 0.35s ease-in-out;
    transition: bottom 0.35s ease-in-out;
}

/*
	==================
	[7.1. FILTER NAV]
	==================
*/
.nav-filter {
    padding: 0 0 40px;
}

.nav-filter .nav-pills {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.nav-filter .nav-pills > li > a {
    padding: 8px 24px;
    margin: 5px;
    background: transparent;
    border: 1px solid #434a54;
    color: #6b6e80;
}

.nav-filter .nav-pills > li > a:hover {
    background: #434a54;
    border: 1px solid #434a54;
    color: #fff;
}

.nav-filter .nav-pills > .active > a,
.nav-filter .nav-pills > .active > a:hover,
.nav-filter .nav-pills > .active > a:focus,
.nav-filter .nav-pills > .active > a:active,
.nav-filter .nav-pills > li > a.active,
.nav-filter .nav-pills > li > a.active:focus,
.nav-filter .nav-pills > li > a.active:hover,
.nav-filter .nav-pills > li > a.active:active {
    color: #fff;
    background-color: #434a54;
    border: 1px solid #434a54;
}

#portfolio-content .col-md-3 {
    margin-right: -1px;
}

/*
	==================
	[7.2. PORTFOLIO TITLE]
	==================
*/
.portfolio-title {
    display: block;
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-title h2 {
    font-weight: 900;
    font-size: 34px;
    line-height: 38px;
}

.portfolio-title h2 a {
    color: #6b6e80;
    text-decoration: none;
}

.portfolio-title h2 a:hover {
    color: #428bca;
    text-decoration: none;
}

.portfolio-title small {
    font-size: 13px;
}

/*
	==================
	[7.3. PORTFOLIO SLIDER]
	==================
*/
#single-portfolio-slider .carousel-control {
    width: 40px;
    top: 40%;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-left: 40px;
    margin-right: 40px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#single-portfolio-slider .carousel-control:hover,
#single-portfolio-slider .carousel-control:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

#single-portfolio-slider .carousel-control.left,
#single-portfolio-slider .carousel-control.right {
    background-image: none;
    filter: none;
    background: rgba(0, 0, 0, 0.5);
    height: 60px;
    width: 50px;
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    line-height: 60px;
}

#single-portfolio-slider .carousel-control.left {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
}

#single-portfolio-slider .carousel-control.right {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0;
}

/*
	==================
	[7.4. ISOTOPE TRANSITION]
	==================
*/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    z-index: 1;
    pointer-events: none;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/*
	============================
	[8. SINGLE/DETAIL]
	============================
*/
.detail-option {
    position: relative;
    width: 100%;
}

.detail-option .list-options {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.detail-option .list-options > li {
    display: table-cell;
    width: 25%;
}

.detail-option .list-options > li > a {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #6b6e80;
}

.detail-option .list-options > li > a:hover {
    color: #434a54;
    text-decoration: underline;
}

.detail-option .list-options > li > a span {
    display: block;
    padding: 3px 0;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    font-weight: 400;
    text-transform: uppercase;
}

/*
	==================
	[8.1. SIDEBAR WIDGET]
	==================
*/
.widget-title {
    margin: 0 0 20px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.widget-title h3 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    color: #434a54;
    font-weight: 700;
}

.widget-title h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -16px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #434a54;
}

.widget-content {
    padding: 0;
    margin: 0;
}

.widget-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.widget-content ul > li > a {
    position: relative;
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    color: #6b6e80;
}

.widget-content ul > li > a:after {
    font-family: 'FontAwesome';
    content: '\f105';
    position: absolute;
    right: 0;
    padding-left: 15px;
}

.widget-content ul > li > a:hover {
    color: #428bca;
    text-decoration: none;
}

.widget-content.popular-post ul > li > a {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.widget-content.popular-post ul > li > a span {
    display: block;
    font-size: 11px;
    color: #999;
    font-weight: 400;
    font-style: italic;
}

.widget-content.popular-post ul > li > a:after {
    content: '';
    padding: 0;
    margin: 0;
}

.detail-similiar {
    position: relative;
    display: block;
    width: 100%;
}

.detail-similiar .list-similiars {
    display: inline-block;
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0 0 -7px;
    padding: 0;
    min-height: 30px;
    background-color: #fff;
}

.detail-similiar .list-similiars > li {
    display: block;
    width: 33.3333%;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

.detail-similiar .list-options > li img {
    margin-bottom: 0 !important;
}

.detail-meta {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.detail-meta span em {
    text-transform: none;
    color: #999;
}

.detail-meta span {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.detail-heading-title {
    margin-bottom: 40px;
}

.detail-heading-title h2 {
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}

/*
	==================
	[8.2. WIDGET TAGS]
	==================
*/
.tags {
    margin-left: 0;
    padding-left: 0;
}

.tags > li {
    position: relative;
    display: inline-block;
}

.tags > li > a {
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid #6b6e80;
    padding: 5px 12px 5px 10px;
    font-size: 13px;
    line-height: 18px;
    margin-right: 20px;
    color: #6b6e80;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    margin-bottom: 10px;
}

.tags > li::before {
    content: '';
    position: absolute;
    z-index: 3;
    right: 18px;
    top: 12px;
    width: 6px;
    height: 6px;
    border: 1px solid #6b6e80;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.tags > li > a::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 0;
    border-top: 14px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #434a54;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tags > li > a::before {
    content: '';
    position: absolute;
    z-index: 2;
    right: -14px;
    top: 0;
    border-top: 14px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tags > li > a:hover {
    background-color: #6b6e80;
    border-color: #6b6e80;
    color: #fff;
    text-decoration: none;
}

.tags > li > a:hover::before {
    content: '';
    border-left-color: #6b6e80;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tags > li > a:hover::after {
    content: '';
    border-left-color: #6b6e80;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*
	==================
	[8.3. DETAIL COMMENT]
	==================
*/
.comments {
    display: block;
    min-height: 50px;
    padding: 30px 0;
}

.comments ul,
.comments ul ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

.comments ul li ul {
    margin-left: 60px;
}

.comment-container {
    padding: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.comments .comment-meta {
    margin-bottom: 15px;
}

.comments .comment-meta .comment-avatar {
    float: left;
    margin-right: 20px;
}

.comments .comment-meta .comment-author {
    font-weight: 700;
    display: block;
    font-size: 15px;
    line-height: 21px;
}

.comments .comment-meta .comment-date {
    display: table;
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}

.comments .comment-meta .comment-reply {
    float: right;
    margin-top: -40px;
}

/*
	============================
	[9. TAB SETTING]
	============================
*/
.post-content .tab-content {
    padding: 20px;
    /*background-color: #f3f3f3;*/
    border: 1px solid #ddd;
    border-top: none;
}

.post-content .nav-tabs > li > a {
    color: #000000;
}

.post-content .nav-tabs > li > a:hover,
.post-content .nav-tabs > li > a:focus,
.post-content .nav-tabs > li > a:active {
    text-decoration: underline;
    background-color: #fff;

}

.post-content .nav-tabs > .active > a,
.post-content .nav-tabs > .active > a:hover,
.post-content .nav-tabs > .active > a:focus,
.post-content .nav-tabs > .active > a:active {
    text-decoration: underline;
    /*background-color: #f3f3f3;*/
}

/*
	============================
	[10. SIGNIN/SIGNUP]
	============================
*/
.form-signin .input-group {
    margin-bottom: 10px;
}

.form-signin .control-label {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}

.form-signin .btn-signin {
    text-align: right;
}

.form-signin .fa-tw,
.fa-tw {
    color: #4099ff;
}

.form-signin .fa-fb,
.fa-fb {
    color: #4467ad;
}

.form-signin .fa-gp,
.fa-gp {
    color: #ff4b4b;
}

/*
	============================
	[11. BLOG]
	============================
*/
.blog-container {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 1px 1px #ddd;
    -moz-box-shadow: 0 0 1px 1px #ddd;
    -ms-box-shadow: 0 0 1px 1px #ddd;
    -o-box-shadow: 0 0 1px 1px #ddd;
    box-shadow: 0 0 1px 1px #ddd;
    background-color: #fff;
}

.blog-container .blog-img img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.blog-container:hover > .blog-img img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.blog-container .blog-description {
    display: table;
    padding: 20px;
}

.blog-container .blog-description h2 {
    display: table-cell;
    margin: 0;
    vertical-align: top;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    width: 75%;
}

.blog-container .blog-description h2 a {
    color: #6b6e80;
}

.blog-container .blog-description h2 a:hover {
    color: #428bca;
    text-decoration: none;
}

.blog-container .blog-description h2 small {
    display: block;
    margin: 10px 0;
    font-size: 13px;
    color: #999;
    line-height: 18px;
    text-transform: none;
    font-weight: 400;
}

.blog-container .blog-description h3 {
    display: table-cell;
    margin: 0;
    width: 25%;
    vertical-align: top;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.blog-container .blog-description h3 span {
    padding: 5px 10px;
    display: block;
    text-align: center;
}

/*
	==================
	[11.1. BLOG TITLE]
	==================
*/
.blog-title {
    position: relative;
    padding-left: 90px;
    padding-bottom: 40px;
}

.blog-title h2 {
    font-weight: 900;
    font-size: 34px;
    line-height: 38px;
}

.blog-title h2 a {
    color: #6b6e80;
    text-decoration: none;
}

.blog-title h2 a:hover {
    color: #428bca;
    text-decoration: none;
}

.blog-title small {
    font-size: 13px;
}

.blog-title .meta-date {
    background: #428bca;
    width: 75px;
    height: 45px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

.blog-title .meta-date:before {
    content: "";
    position: absolute;
    left: 0;
    top: -18px;
    border: 40px;
    border-top: 0 solid transparent;
    border-right: 38px solid transparent;
    border-bottom: 18px solid #428bca;
    border-left: 38px solid transparent;
}

.blog-title .meta-date:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -18px;
    border: 40px;
    border-top: 18px solid #428bca;
    border-right: 38px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 38px solid transparent;
}

.blog-title .meta-date .meta-date-day {
    font-size: 26px;
    line-height: 24px;
    font-weight: 900;
    display: block;
    margin-top: -5px;
    position: relative;
    z-index: 2;
}

.blog-title .meta-date .meta-date-month {
    font-size: 13px;
    line-height: 14px;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.blog-title .meta-date .meta-date-year {
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    display: block;
    position: relative;
    z-index: 2;
}

/*
	==================
	[11.2. RELATED POSTS]
	==================
*/
.related-posts {
    margin-bottom: 40px;
}

.blog-container-related {
    display: block;
    margin-bottom: 20px;
}

.blog-container-related img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.blog-container-related h4 {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
}

.blog-container-related h4 a {
    color: #6b6e80;
}

.blog-container-related h4 a:hover {
    color: #428bca;
    text-decoration: none;
}

/*
	==================
	[11.3. BLOG AUTHOR]
	==================
*/
.about-author {
    display: block;
    padding: 20px;
    margin: 60px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.about-author .author-left {
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.about-author .author-left img {
    max-width: 100%;
}

.about-author .author-right h4 {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 20px;
    color: #434a54;
    text-transform: uppercase;
}

.about-author .author-right h4 small {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #6b6e80;
}

.about-author .author-right p {
    font-size: 14px;
    line-height: 24px;
}

/*
	==================
	[11.4. BLOG COMMENT]
	==================
*/
.comments-container {
    display: block;
    padding: 0;
    margin-bottom: 60px;
}

.comments-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comments-container .comments-item {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
}

.comments-item .comments-item-left {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
}

.comments-item .comments-item-left img {
    max-width: 100%;
}

.comments-item .comments-item-right {
    display: block;
    margin-left: 70px;
}

.comments-item-right .item-right-author h4 {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

.comments-item-right .item-right-author .reply-link {
    float: right;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.comments-item-right .item-right-author .reply-link a:hover {
    text-decoration: none;
}

.comments-item-right .item-right-date {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    color: #999;
}

.comments-item-right .item-right-comment {
    font-size: 15px;
    line-height: 28px;
    color: #434a54;
}

.comments-container ul li ul {
    margin-left: 60px;
}

.comments-container .children,
.comments-container .comments-reply-container {
    position: relative;
}

.comments-container .children::before,
.comments-container .comments-reply-container::before {
    content: '';
    position: absolute;
    left: -60px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #eee;
}

.comments-container .children::after,
.comments-container .comments-reply-container::after {
    content: '';
    position: absolute;
    left: -60px;
    top: 50px;
    width: 60px;
    height: 1px;
    background-color: #eee;
}

/*
	============================
	[12. FOOTER]
	============================
*/
.footer {
    width: 100%;
    padding: 0;
    color: #434a54;
}

.footer a {
    /*color: #434a54;*/
    color: #A8A8A8;
    text-decoration: underline;
}

.footer a:hover {
    color: rgb(124, 175, 181);
    text-decoration: none;
}

.footer hr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}

.footer .list-social {
    float: right;
    list-style-type: none;
    margin-bottom: 0px;
}

.footer .list-social > li {
    display: inline-block;
}

.footer .list-social > li > a {
    position: relative;
    z-index: 3;
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #999;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #999;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer .list-social > li > a > .fa,
.footer .list-social > li > a > .glyphicon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

.footer .list-social > li:last-child > a {
    margin-right: 0;
}

.footer .list-social > li:hover > a {
    border: 1px solid #333;
    color: #333;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.share-buttons {
    position: fixed;
    top: 30%;
    left: -42px;
    z-index: 2;
}

.share-button {
    display: block;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: 7px 2px;
    opacity: .9;
    border-radius: 100%;
    border: 1px solid rgb(124, 175, 181);
}

.share-button i {
    margin-left: 9px;
    margin-top: 9px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    color: rgb(124, 175, 181);
}

.share-button i.fa-plus {
    margin-top: 10px;
}

.share-button i.fa-google-plus {
    margin-left: 11px;
    margin-top: 10px;
}

.share-button i.fa-reddit {
    margin-left: 8px;
    margin-top: 10px;
}

.share-button.fb {
    background-image: url('http://88z.github.io/sollist/dist/sollist-themes/lee-gargano-circle-color/facebook.png');
}

.share-button.tw {
    background-image: url('http://88z.github.io/sollist/dist/sollist-themes/lee-gargano-circle-color/twitter.png');
}

.share-button.gp {
    background-image: url('http://88z.github.io/sollist/dist/sollist-themes/lee-gargano-circle-color/googleplus.png');
}

.share-button.rd {
    background-image: url('http://88z.github.io/sollist/dist/sollist-themes/lee-gargano-circle-color/reddit.png');
}

.share-button.mail {
    background-image: url('../img/mail.png');
}

.share-button.ask {
    background-image: url('../img/ask.png');
}

.share-button:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

.wishListHeader {
    margin-top: 13px;
    font-size: 16px;
}

@media (min-width: 1200px) {
    .wishListHeader {
        margin-left: 26% !important;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 100%;
        min-width: 98%;
    }

    .container-gallery .col-md-3 {
        width: 20%;
    }
}

@media (min-width: 1800px) {
    #content .container {
        width: 1800px;
    }

    .container-gallery .col-md-3 {
        width: 16.6%;
    }
}

@media (min-width: 2100px) {
    #content .container {
        width: 2100px;
    }

    .container-gallery .col-md-3 {
        width: 14.28%;
    }
}

@media (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .wishListHeader {
        margin-left: 16% !important;
    }
}

@media (max-width: 992px) {
    .wishListHeader {
        display: none;
    }
}

.container-gallery .col-md-3, .container-gallery .col-sm-6, .container-gallery .col-xs-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.searchbox {
    height: 50px;
    float: right;
    overflow: hidden;
}

.searchbox-input {
    top: 0;
    right: 0;
    border: 0;
    float: right;
    outline: 0;
    width: 0;
    height: 29px;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    font-size: 14px;
    border-bottom: 1px solid rgb(124, 175, 181);
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-open .searchbox-input {
    width: 150px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-icon,
.searchbox-submit {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    top: 0;
    font-size: 16px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #6b6e80;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}

.searchbox-icon:hover,
.searchbox-submit:hover {
    text-decoration: none;
    color: #6b6e80;
}

.searchbox-open {
    width: 100%;
}

.byline {
    position: absolute;
    top: 150px;
    left: 30%;
    text-align: center;
    font-size: 18px;
}

.byline a {
    text-decoration: none;
}

.no-border {
    border: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

h3 {
    margin: 0;
}

.portfolio-title {
    margin-bottom: 20px;
}

.right {
    float: right;
}

.cursorNormal {
    cursor: default;
}

.tooltip-inner {
    color: #818181;
    width: 125px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -ms-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    -o-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
}

.tooltip-arrow {
    border-right-color: #ffffff !important;
}

.center {
    text-align: center;
}

.normal-font {
    font-weight: normal;
}

.showNewEventBox i {
    font-size: 40px;
    margin-right: 7px;
    color: #C54368;
}

a.showNewEventBox {
    color: #6b6e80;
    display: block;
    float: left;
}

a.showNewEventBox:hover {
    color: #6b6e80;
    text-decoration: none;
}

.grayPlaceholder::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
    color: #D3D3D3;
}

.grayPlaceholder:-moz-placeholder, input[type="password"]:-moz-placeholder {
    /* Firefox 18- */
    color: #D3D3D3;
}

.grayPlaceholder::-moz-placeholder, input[type="password"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #D3D3D3;
}

.grayPlaceholder::-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
    color: #D3D3D3;
}

.navbar-brand {
    padding: 1px 0 0 0 !important;
}

.navbar-brand img {
    margin-left: 9px;
    margin-top: 4px;
    height: 40px;
}

.priceLine {
    /*color: rgb(89, 189, 200);*/
    color: rgb(124, 175, 181);
}

.avatarBox {
    position: relative;
}

.avatarBox .changeBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, .95);
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.avatarBox:hover .changeBox {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.imageUploadInput {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.imageUploadForm .fa {
    font-size: 20px;
}

.btn-custom {
    background-color: #C54368;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #ffffff;
    color: #C54368;
    border: 1px solid #C54368;
}

#accountSettings .btn {
    width: 70px;
}