<div class="section">
    <div class="column">
        <div class="textBox">
            <div class="bigText">
                Perfect Present&#42;
            </div>
            <div class="smallText">
                Make your wishlist and share!
            </div>
            <div class="small2Text">
                Gifts are expression of love and consideration.<br>
                Bring and receive the perfect present. Show your love!
            </div>
            <div>
                <a href="javacsript:void(0)" class="customBtn btn-black" data-toggle="modal" data-target="#signUpModal">
                    Get started
                </a>
                <a href="#Bottom" class="learnMore" data-menuanchor="Bottom">
                    Learn More
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="formBox">
            <form class="ajaxForm" action="/user/send-reset-password-email" method="POST" role="form">
                <div class="form-group no-margin">
                    <div class="alert hide errorAlert"></div>
                    <div class="alert hide infoAlert"></div>
                </div>
                <div class="form-group">
                    <input type="email" name="user_email" placeholder="Please Enter Your Email">
                </div>
                <div class="form-group noneMargin">
                    <a href="javascript:void(0)" class="customBtn" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
                    <button type="submit" class="customBtn right">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>