<div class="column">
    <div class="textBox">
        <div class="bigText">
            Lets make them happy!
        </div>
        <div class="smallText">
            Make your wishlist and share!
        </div>
        <div>
            <a href="#" class="learnMore">
                Learn More
            </a>
        </div>
    </div>
</div>
<div class="column">
    <div class="formBox">
        <form class="ajaxForm" action="/user/reset" method="POST" role="form">
            <input type="hidden" name="user_hash" value="<?php echo $this->user_hash; ?>">
            <div class="form-group">
                <div class="alert hide errorAlert"></div>
                <div class="alert infoAlert">Please enter your new password</div>
            </div>
            <div class="form-group">
                <input type="password" name="user_password" placeholder="New Password">
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" placeholder="Confirm Password">
            </div>
            <div class="form-group noneMargin">
                <button type="submit" class="btn btn-white right">
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>
