<div class="row" id="accountSettings">
    <!-- begin:profile-account -->
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="post-container">
            <div class="post-content">
                <div class="profile-account">
                    <div class="avatarBox">
                        <img src="<?php echo $this->layout()->user->getAvatar(); ?>" class="img-responsive img-thumbnail">
                        <div class="changeBox center">
                            <form action="/upload/image" method="post" class="imageUploadForm">
                                <div class="input input-file">
                                    <input type="file" id="file" name="file" class="imageUploadInput">
                                    <i class="fa fa-camera"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                    <h3 class="OswaldFont"><?php echo $this->layout()->user->getFullName(); ?></h3>
<!--                    <p><strong class="OswaldFont">Sign up :</strong> 3 weeks a go</p>-->
                    <hr>
                    <a href="/wish-list/<?php echo $this->layout()->user->getId(); ?>">View Public Profile</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end:profile-account -->

    <!-- begin:profile-content -->
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="post-container">
            <div class="post-content">
                <div class="portfolio-title">
                    <h3 class="OswaldFont">Account Settings</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal ajaxFormSettings" action="/user/change-profile" method="POST"
                              role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger hide errorAlert"></div>
                                    <div class="alert alert-success hide infoAlert"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_fname" class="col-sm-3 control-label OswaldFont">First Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="user_fname" name="user_fname"
                                           placeholder="First Name"
                                           value="<?php echo $this->layout()->user->getFirstName(); ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_lname" class="col-sm-3 control-label OswaldFont">Last Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="user_lname" name="user_lname"
                                           placeholder="Last Name"
                                           value="<?php echo $this->layout()->user->getLastName(); ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_email" class="col-sm-3 control-label OswaldFont">Email</label>

                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="user_email" name="user_email"
                                           placeholder="Email" value="<?php echo $this->layout()->user->getEmail(); ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_country" class="col-sm-3 control-label OswaldFont">Country</label>

                                <div class="col-sm-9">
                                    <select class="form-control" name="user_country" id="userCountrySelect" data-country="<?php echo $this->layout()->user->getCountry();?>">
                                        <option value="">Country</option>
                                        <option value="Afganistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire">Bonaire</option>
                                        <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Canary Islands">Canary Islands</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Channel Islands">Channel Islands</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos Island">Cocos Island</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote DIvoire">Cote D'Ivoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Curaco">Curacao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="East Timor">East Timor</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Ter">French Southern Ter</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Great Britain">Great Britain</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea North">Korea North</option>
                                        <option value="Korea Sout">Korea South</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Midway Islands">Midway Islands</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Nambia">Nambia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis">Nevis</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau Island">Palau Island</option>
                                        <option value="Palestine">Palestine</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Phillipines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="St Barthelemy">St Barthelemy</option>
                                        <option value="St Eustatius">St Eustatius</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                        <option value="St Lucia">St Lucia</option>
                                        <option value="St Maarten">St Maarten</option>
                                        <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                                        <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                                        <option value="Saipan">Saipan</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="Samoa American">Samoa American</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Serbia">Serbia</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Tahiti">Tahiti</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Erimates">United Arab Emirates</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Uraguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Vatican City State">Vatican City State</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                        <option value="Wake Island">Wake Island</option>
                                        <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zaire">Zaire</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_fname" class="col-sm-3 control-label OswaldFont">Birthday</label>
                                <div class="col-sm-2">
                                    <select name="user_dob_day" class="form-control" required>
                                        <option value="">Day</option>
                                        <?php for ($day = 1; $day <= 31; $day ++) : ?>
                                            <option value="<?php echo strlen($day) == 1 ? "0" . $day : $day; ?>"
                                                <?php if($this->myBirthdayEvent && $this->myBirthdayEvent->getDay() == $day) echo "selected"; ?>>
                                                <?php echo $day; ?>
                                            </option>
                                        <?php endfor; ?>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="user_dob_month" class="form-control" required>
                                        <option value="">Month</option>
                                        <?php for ($month = 1; $month <= 12; $month ++) : ?>
                                            <option value="<?php echo strlen($month) == 1 ? "0" . $month : $month; ?>"
                                                <?php if($this->myBirthdayEvent && $this->myBirthdayEvent->getMonth() == $month) echo "selected"; ?>>
                                                <?php echo date('F', mktime(0, 0, 0, $month, 1, date('Y'))); ?>
                                            </option>
                                        <?php endfor; ?>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="user_dob_year" class="form-control" required>
                                        <option value="">Year</option>
                                        <?php for ($year = 1920; $year <= date("Y"); $year ++) : ?>
                                            <option value="<?php echo $year; ?>"
                                                <?php if($this->myBirthdayEvent && $this->myBirthdayEvent->getYear() == $year) echo "selected"; ?>>
                                                <?php echo $year; ?>
                                            </option>
                                        <?php endfor; ?>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="normal-font">
                                        <input type="hidden" name="user_dob_privacy" value="public" />
                                        <input type="checkbox" name="user_dob_privacy" value="private" <?php echo ($this->myBirthdayEvent && $this->myBirthdayEvent->getStatus() == 'private') ? "checked='checked'" : ""; ?> />
                                        &nbsp;&nbsp;Private
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_email" class="col-sm-3 control-label OswaldFont">Privacy</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="hidden" name="user_privacy" value="public" />
                                            <input type="checkbox" name="user_privacy" value="private" <?php echo ($this->layout()->user->getPrivacy() == 'private') ? "checked='checked'" : ""; ?> style="margin-top: 7px;"> page is not visible for public searches.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-custom">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end:profile -->
                <hr>
                <!-- begin:password -->
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal ajaxFormSettings" action="/user/change-password" method="POST"
                              role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger hide errorAlert"></div>
                                    <div class="alert alert-success hide infoAlert"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="old_password" class="col-sm-3 control-label OswaldFont">Enter Old Password</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="old_password" name="old_password"
                                           placeholder="Enter Old Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_password" class="col-sm-3 control-label OswaldFont">Enter New Password</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="user_password" name="user_password"
                                           placeholder="Enter New Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password" class="col-sm-3 control-label OswaldFont">Confirm New
                                    Password</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="confirm_password"
                                           name="confirm_password" placeholder="Confirm New Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-custom">Save</button>
                                </div>
                            </div>
                        </form>
                        <!-- end:tab-content -->
                    </div>
                </div>
            </div>
        </div>
        <?php if ($this->events) : ?>
            <?php foreach ($this->events as $event) : ?>
                <div class="post-container">
                    <div class="post-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- begin:events -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form class="form-horizontal ajaxFormSettings" action="/action/save-event"
                                              method="POST"
                                              role="form">
                                            <input type="hidden" name="event_id" value="<?php echo $event->getId(); ?>">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="alert alert-danger hide errorAlert"></div>
                                                    <div class="alert alert-success hide infoAlert"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_fname" class="col-sm-3 control-label OswaldFont">Event</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" name="event_type">
                                                        <option value="">Select event</option>
                                                        <option <?php echo $event->getType() == "Child Birthday" ? "selected": ""; ?>>Child Birthday</option>
                                                        <option <?php echo $event->getType() == "Wedding" ? "selected": ""; ?>>Wedding</option>
                                                        <option <?php echo $event->getType() == "Anniversary" ? "selected": ""; ?>>Anniversary</option>
                                                        <option <?php echo $event->getType() == "Babyshower" ? "selected": ""; ?>>Babyshower</option>
                                                        <option <?php echo $event->getType() == "Newborn" ? "selected": ""; ?>>Newborn</option>
                                                        <option <?php echo $event->getType() == "Just because" ? "selected": ""; ?>>Just because</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="event_name" placeholder="Name" value="<?php echo $event->getName(); ?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label"></label>


                                                <div class="col-sm-2">
                                                    <select name="event_day" class="form-control" required>
                                                        <option value="">Day</option>
                                                        <?php for ($day = 1; $day <= 31; $day ++) : ?>
                                                            <option value="<?php echo strlen($day) == 1 ? "0" . $day : $day; ?>"
                                                                <?php if($event->getDay() == $day) echo "selected"; ?>>
                                                                <?php echo $day; ?>
                                                            </option>
                                                        <?php endfor; ?>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <select name="event_month" class="form-control" required>
                                                        <option value="">Month</option>
                                                        <?php for ($month = 1; $month <= 12; $month ++) : ?>
                                                            <option value="<?php echo strlen($month) == 1 ? "0" . $month : $month; ?>"
                                                                <?php if($event->getMonth() == $month) echo "selected"; ?>>
                                                                <?php echo date('F', mktime(0, 0, 0, $month, 1, date('Y'))); ?>
                                                            </option>
                                                        <?php endfor; ?>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <select name="event_year" class="form-control" required>
                                                        <option value="">Year</option>
                                                        <?php for ($year = 1920; $year <= date("Y"); $year ++) : ?>
                                                            <option value="<?php echo $year; ?>"
                                                                <?php if($event->getYear() == $year) echo "selected"; ?>>
                                                                <?php echo $year; ?>
                                                            </option>
                                                        <?php endfor; ?>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="normal-font">
                                                        <input type="hidden" name="event_status" value="public" />
                                                        <input type="checkbox" name="event_status" value="private" <?php echo $event->getStatus() == 'private' ? "checked='checked'" : ""; ?> />
                                                        &nbsp;&nbsp;Private
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-custom">Save</button>
                                                    <a href="javascript:void(0)" onclick="removeMyEvent(<?php echo $event->getId(); ?>)"
                                                       class="btn btn-default">
                                                        Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end:events -->
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
        <div class="post-container">
            <div class="post-content" style="padding: 10px 15px; overflow: hidden;">
                <a href="javascript:void(0)" onclick="showAddNewEventBox()"
                   class="showNewEventBox">
                    <i class="fa fa-plus-circle"></i>
                </a>
                <a href="javascript:void(0)" onclick="showAddNewEventBox()"
                   class="showNewEventBox" style="margin-top: 8px;">
                    Add New Event
                </a>
            </div>
        </div>
        <div class="post-container newEventBox hide">
            <div class="post-content">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- begin:events -->
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-horizontal ajaxFormSettings" action="/action/add-new-event"
                                      method="POST"
                                      role="form">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="alert alert-danger hide errorAlert"></div>
                                            <div class="alert alert-success hide infoAlert"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="user_fname" class="col-sm-3 control-label OswaldFont">Event</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="event_type">
                                                <option value="">Select event</option>
                                                <option>Child Birthday</option>
                                                <option>Wedding</option>
                                                <option>Anniversary</option>
                                                <option>Babyshower</option>
                                                <option>Newborn</option>
                                                <option>Just because</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="event_name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>

                                        <div class="col-sm-2">
                                            <select name="event_day" class="form-control" required>
                                                <option value="">Day</option>
                                                <?php for ($day = 1; $day <= 31; $day ++) : ?>
                                                    <option value="<?php echo strlen($day) == 1 ? "0" . $day : $day; ?>">
                                                        <?php echo $day; ?>
                                                    </option>
                                                <?php endfor; ?>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select name="event_month" class="form-control" required>
                                                <option value="">Month</option>
                                                <?php for ($month = 1; $month <= 12; $month ++) : ?>
                                                    <option value="<?php echo strlen($month) == 1 ? "0" . $month : $month; ?>">
                                                        <?php echo date('F', mktime(0, 0, 0, $month, 1, date('Y'))); ?>
                                                    </option>
                                                <?php endfor; ?>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select name="event_year" class="form-control" required>
                                                <option value="">Year</option>
                                                <?php for ($year = 1920; $year <= date("Y"); $year ++) : ?>
                                                    <option value="<?php echo $year; ?>">
                                                        <?php echo $year; ?>
                                                    </option>
                                                <?php endfor; ?>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="normal-font">
                                                <input type="hidden" name="event_status" value="public" />
                                                <input type="checkbox" name="event_status" value="private" />
                                                &nbsp;&nbsp;Private
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-custom">Save</button>
                                            <a href="javascript:void(0)" onclick="hideAddNewEventBox()"
                                               class="btn btn-link">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end:events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end:profile-content -->

    </div>
</div>