<div>
    <p>
        <strong>Reset your password</strong>
    </p>
    <p>
        To reset the password for the Presont.com account associated with this email, click <a href="<?php echo $this->domain . "/user/reset-password/" . $this->user->getHash(); ?>">here</a>. If you don’t want to reset your password, please disregard this email.
    </p>
    <p>
        It’s your Presont.com. Enjoy!
    </p>
</div>