.imageBox img {width: 100%;}
.imageBox {
    margin-bottom: 10px;
    border: 1px solid #DDD;
    padding: 10px;
    border-radius: 5px;}
.imageBox:last-child {margin-bottom: 0;}
.imageBox:hover {background-color: #EDEDED;}

/*~~~~~~~~~~~~floating save button styles~~~~~~~~~~~~`*/
.floating_submit_wrapper{
    position: fixed;
    top: 0;
    z-index: 905;
    width: 18%;
    /* left: 0; */
    right: 31px;
    /* bottom: 0; */
}

.floating_submit{
    box-shadow: 0 0 44px -10px rgba(0, 0, 0, 0.51);
    width: 100%;
    }

@media (max-width: 1200px){
    .floating_submit_wrapper{
        width: 74%;
        right: 42px;
    }
}

@media (max-width: 1000px){
    .floating_submit_wrapper{
        width: 90%;
    }
}

@media (max-width: 800px){
    .floating_submit_wrapper{
        width: 94%;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`*/