<?php echo $this->doctype();
$children = $this->viewModel()->getCurrent()->getChildren();
$viewModel = $children[0];
$layoutViewModel = $this->viewModel()->getRoot();
$user = $layoutViewModel->user;
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Where wishes come true. Make a wish list and share!
The perfect present for you and your friends.">
    <meta name="keywords" content="bootstrap, responsive, curriculum vitae, cv, one page, parallax, resume theme">
    <?php if ($_SERVER['HTTP_HOST'] != 'www.presont.com') : ?>
        <meta name="googlebot" content="noindex">
        <meta name="robots" content="noindex">
    <?php endif; ?>
    <link rel="shortcut icon" href="/favicon.ico">
    <title>PresOnt: Showing how much you care.</title>
    <meta property="og:title" content="PresOnt: Showing how much you care."/>
    <meta property="og:url" content="<?php echo "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>"/>
    <meta property="og:site_name" content="Presont.com"/>
    <meta property="og:description"
          content="Make your wish list and share! Give and receive the perfect present. Show your love! "/>
    <meta property="og:image" content="<?php echo "http://" . $_SERVER['HTTP_HOST']; ?>/img/logo_for_meta.png"/>

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lebbnmipiecajcpahainjilgbjdglllc">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600" rel="stylesheet"
          type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/colorbox.css" rel="stylesheet">
    <link href="/css/responsive.min.css" rel="stylesheet">
    <link href="/css/style.css?v=<?php echo filemtime(PUBLIC_PATH . '/css/style.css'); ?>" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        var appId = "";
        if (document.domain == "wishlist.loc") {
            appId = "1631818493729772";
        } else if (document.domain == "gift.dictoro.com") {
            appId = "476438649181475";
        }

        FB.init({
            appId: appId,
            xfbml: true,
            version: 'v2.3'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- begin:navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/big_logo.png">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="fsearch hidden-xs">
                    <form class="searchbox" action="/search">
                        <div style="float: left;width: 150px">
                            <input type="search" placeholder="Search..." name="q" class="searchbox-input"
                                   onkeyup="buttonUp();" required autocomplete="none">
                        </div>
                        <div style="float: left; position: relative;width: 50px;height: 50px;">
                            <input type="submit" class="btn-search searchbox-submit" value="">
                            <a class="btn-search searchbox-icon">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </form>
                </li>
                <?php if (!$user->getId()) : ?>
                    <li><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
                    <li><a href="/sign-up"><i class="fa fa-edit"></i> Signup</a></li>
                <?php else : ?>
                    <li>
                        <a href="/" class="no-border">
                            <img src="<?php echo $user->getAvatar(); ?>" class="img-responsive img-avatar" alt="avatar">
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle no-border" data-toggle="dropdown">
                            <strong><?php echo $user->getFirstName(); ?></strong>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="/user/settings"><i class="fa fa-cog"></i> Account Settings</a></li>
                            <li><a href="/archive"><i class="fa fa-check"></i> Archive</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/logout"><i class="fa fa-power-off"></i> Sign Out</a></li>
                        </ul>
                    </li>
                <?php endif; ?>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <ul class="nav navbar-nav navbar-right nav-search visible-xs">
            <li class="fsearch">
                <a class="btn-search">
                    <i class="fa fa-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- end:navbar -->

<!-- begin:search -->
<div id="searchbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="/search">
                    <div class="form-group">
                        <label for="inputSearch" class="sr-only">Search</label>
                        <input type="text" name="q" class="form-control input-lg" placeholder="Enter your keyword">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end:search -->
<?php require_once(__DIR__ . "/../sub/social-networks-buttons.phtml"); ?>
<!-- begin:content -->
<div id="content">
    <div class="container">
        <?php echo $this->content; ?>
    </div>
</div>
<!-- end:content -->

<!-- begin:footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" style="font-size: 12px; color:#A8A8A8;">
                <p style="float:left;">Copyright &copy; 2015 All Right Reserved.</p>
                <ul class="list-inline" style="float:left;">
                    <li style="margin-left:18px;"><a href="#">Terms Of Service</a></li>
                    <li style="margin-left:13px;"><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="list-social">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/presont" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#HelpModalBox"><i
                                class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end:footer -->
<div class="modal fade" id="HelpModalBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body hide">
                <div class="alert alert-success">
                    <strong>Thank You!</strong> Your Message has been sent.
                </div>
            </div>
            <div class="modal-footer hide">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <form action="/action/send-contact-message" method="POST" class="ajaxForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="contactName">Your Name</label>
                        <input type="text" class="form-control" name="contactName" id="contactName"
                               placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Your Email</label>
                        <input type="email" class="form-control" name="contactEmail" id="contactEmail"
                               placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <label for="contactSubject">Subject</label>
                        <select name="contactSubject" id="contactSubject" class="form-control">
                            <option>Question</option>
                            <option>Suggestion</option>
                            <option>Bug Report</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contactMessage">Message</label>
                        <textarea class="form-control" name="contactMessage" id="contactMessage" rows="4"
                                  required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-custom">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addNewPresnetModalBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title center">Save an item to Presont</h4>
            </div>
            <form action="/action/add-manual-link" method="POST" class="ajaxFormSettings">
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 2px;">
                        <div class="col-sm-12">
                            <div class="alert alert-danger hide errorAlert"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="center" style="margin-bottom: 18px;">
                            For making saving of items easier, download extension button <a href="javascript:void(0)"
                                                                                            style="color:rgb(124, 175, 181);"
                                                                                            onclick="chrome.webstore.install()"
                                                                                            target="_blank">here</a>.
                        </p>
                        <input type="text" class="form-control grayPlaceholder" name="url" id="url"
                               placeholder="http://" required/>
                    </div>
                </div>
                <div class="modal-footer center" style="border-top:0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 64px;">Close
                    </button>
                    <button type="submit" class="btn btn-custom">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<?php if ($viewModel->theUser && $viewModel->events) : ?>
    <div class="modal fade" id="eventsModalBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Events</h4>
                </div>
                <div class="modal-body">
                    <div class="widget-content popular-post">
                        <ul>
                            <?php foreach ($viewModel->events as $event) : ?>
                                <li>
                                    <a href="#" class="cursorNormal">
                                        <?php echo $event->getType(); ?><?php if ($event->getName()) : ?>: <?php echo $event->getName(); endif; ?>
                                        <span><?php echo $event->getDate(true); ?></span>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-custom">Send</button>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php if ($user && $viewModel->theUser) : ?>
<div class="modal fade" id="confirmASModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="center">
                    Did you bought already this Item for <?php echo $viewModel->theUser->getFirstName(); ?>?
                </h4>
            </div>
            <div class="modal-footer center no-border">
                <a href="javascript:void(0)" onclick="moveToAD()" class="btn btn-custom">Yes, archive it!</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No, not now!</button>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.form.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.colorbox.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/main.js?v=<?php echo filemtime(PUBLIC_PATH . '/js/main.js'); ?>"></script>

</body>
</html>
