<div>
    <p>
        <strong>Message from <?php echo $this->request['contactName']; ?> (<?php echo $this->request['contactEmail']; ?>)</strong>
    </p>
    <p>
        <strong>Subject:</strong> <?php echo $this->request['contactSubject']; ?>
    </p>
    <p>
        <?php echo $this->request['contactMessage']; ?>
    </p>
</div>