<div class="col-md-20 col-sm-6 col-xs-12">
    <div class="post-container">
        <div class="post-desc">
            <div class="post-content no-padding">
                <div class="profile-account">
                    <img src="<?php echo $this->theUser->getAvatar(); ?>" class="img-responsive img-thumbnail">
                    <h3>
                        <?php
                        if ($this->theUser->getId() == $this->layout()->user->getId()) {
                            echo $this->theUser->getFirstName();
                        } else {
                            echo $this->theUser->getFullName();
                        }
                        ?>
                    </h3>
                    <?php if($this->myBirthdayEvent) : ?>
                        <p class="center no-margin">
                            <?php echo $this->myBirthdayEvent->getDate(true); ?>
                        </p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="nav nav-pills nav-stacked">
                <?php if ($this->events) : ?>
                    <li>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#eventsModalBox">
                            <i class="fa fa-calendar"></i>&nbsp;&nbsp;Events
                        </a>
                    </li>
                <?php endif; ?>
                <li><a href="javascript:void(0)" onclick="shareLinkToFB('http://<?php echo $_SERVER["HTTP_HOST"]; ?>/<?php echo $this->theUser->getId(); ?>')"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Share on Facebook</a></li>
                <li><a href="mailto:?subject=Have a look at my wishlist&body=Howdy,%0D%0A%0D%0AHere is my wish list. <?php echo 'http://' . $_SERVER['HTTP_HOST'] . ($_SERVER['REQUEST_URI'] == "/" ? "/" . $this->layout()->user->getId() : $_SERVER['REQUEST_URI']); ?>%0D%0AShow me also yours, so i can bring the perfect present for you too."><i class="fa fa-envelope-o"></i> &nbsp;Send email</a></li>
            </ul>
        </div>
    </div>
</div>