<div class="col-md-20 col-sm-6 col-xs-12">
    <div class="post-container">
        <div class="post-option">
            <ul class="list-options">
                <?php if ($product->getStatus() == 'active') : ?>
                    <li>
                        <a href="javascript:void(0)"
                           data-same-user="<?php echo (int) ($sameUser = ($this->theUser && ($this->theUser->getId() == $this->layout()->user->getId()))); ?>"
                           onclick="moveToArchiveModal(
                                <?php echo $product->getId(); ?>,
                                'archive',
                                <?php if (!$sameUser) : ?>
                                    'Did you bought already this Item for <?php echo $this->theUser->getFirstName(); ?> ?',
                                <?php else : ?>
                                    'Are you sure want to move this item to archive ?',
                                <?php endif; ?>
                                this)">
                            <i class="fa fa-check"></i>
                            <span>Archive</span>
                        </a>
                    </li>
                <?php else : ?>
                    <li>
                        <a href="javascript:void(0)"
                           onclick="moveToArchiveModal(<?php echo $product->getId(); ?>, 'active', 'Are you sure want to move it to your list ?', this)">
                            <i class="fa fa-check"></i>
                            <span>Move to my list</span>
                        </a>
                    </li>
                <?php endif; ?>
                <?php if ($this->theUser->getId() == $this->layout()->user->getId()) : ?>
                    <li>
                        <a href="javascript:void(0)"
                           onclick="moveToArchiveModal(<?php echo $product->getId(); ?>, 'delete', 'Are you sure want to delete this item ?',this)">
                            <i class="fa fa-trash-o"></i>
                            <span>Delete</span>
                        </a>
                    </li>
                <?php endif; ?>
            </ul>
        </div>
        <div class="post-image">
            <a href="<?php echo $product->getUrl(); ?>" target="_blank">
                <img src="<?php echo $product->getImage(); ?>"
                     class="img-responsive"
                     alt="fransisca gallery">
            </a>
        </div>
        <div class="post-meta">
            <ul class="list-meta list-custom">
                <li>
                    <!--                    <i class="fa fa-link"></i>-->
                    <a href="<?php echo $product->getUrl(); ?>">
                        <?php echo $product->getShop(); ?>
                    </a>
                </li>
                <li class="priceLine">
                    <!--                    <i class="fa fa-money"></i> -->
                    <?php echo $product->getPrice(); ?>
                </li>
                <!--                <li>-->
                <!--                    <i class="fa fa-calendar"></i>-->
                <!--                    --><?php //echo $product->getCreatedAt(true); ?>
                <!--                </li>-->
            </ul>
        </div>
    </div>
</div>