<div class="share-buttons">
    <a href="javascript:void(0)" onclick="chrome.webstore.install()" class="share-button tooltipElement" target="_blank" data-toggle="tooltip" data-placement="right" title="Extension button">
        <i class="fa fa-download"></i>
    </a>
    <a href="javascript:void(0)" class="share-button tooltipElement" data-toggle="modal" data-target="#addNewPresnetModalBox" data-placement="right" title="Save a URL">
        <i class="fa fa-plus"></i>
    </a>
    <a href="javascript:void(0)" class="share-button tooltipElement" data-toggle="tooltip" data-placement="right" title="Share on Facebook"
       onclick='window.open("http://www.facebook.com/share.php?app_id=1156810517671802& u=<?php echo urlencode("http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']); ?>","name","width=600,height=400")'>
        <i class="fa fa-facebook"></i>
    </a>
    <a href="javascript:void(0)" class="share-button tooltipElement" data-toggle="tooltip" data-placement="right" title="Share on Twitter"
       onclick='window.open("http://twitter.com/share?via=Presont.com&text=Where%20wishes%20come%20true","name","width=600,height=400")'>
        <i class="fa fa-twitter"></i>
    </a>
    <a href="javascript:void(0)" class="share-button tooltipElement" data-toggle="tooltip" data-placement="right" title="Share on Google+"
       onclick='window.open("https://plusone.google.com/_/+1/confirm?hl=en&url=<?php echo urlencode("http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']); ?>","name","width=600,height=400")'>
        <i class="fa fa-google-plus"></i>
    </a>
    <a href="javascript:void(0)" class="share-button tooltipElement" data-toggle="tooltip" data-placement="right" title="Share on Reddit"
       onclick='window.open("https://www.reddit.com/submit?url=<?php echo urlencode("http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']); ?>","name","width=600,height=400")'>
        <i class="fa fa-reddit"></i>
    </a>
    <a href="mailto:?subject=Have a look at my wishlist&body=Howdy,%0D%0A%0D%0AHere is my wish list. <?php echo 'http://' . $_SERVER['HTTP_HOST'] . ($_SERVER['REQUEST_URI'] == "/" ? "/" . $this->layout()->user->getId() : $_SERVER['REQUEST_URI']); ?>%0D%0AShow me also yours, so i can bring the perfect present for you too." class="share-button tooltipElement"
       data-toggle="tooltip" data-placement="right" title="Invite by E-mail">
        <i class="fa fa-envelope-o"></i>
    </a>
    <a href="javascript:void(0)" class="share-button tooltipElement" data-toggle="modal" data-target="#HelpModalBox" data-placement="right" title="Contact us">
        <i class="fa fa-comment"></i>
    </a>
</div>