<div class="section firstPage">
    <div class="firstPageBackground">
    </div>
    <div class="column">
        <div class="leftColumn">
            <div class="textBox">
                <div class="bigText">
                    Perfect Present&#42;
                </div>
                <div class="smallText">
                    Make your wish list and share!
                </div>
                <div class="small2Text">
                    Gifts are expressions of love and appreciation.<br>
                    Give and receive the perfect present. Show your love!
                </div>
                <div>
                    <a href="javascript:void(0)" class="customBtn btn-black" data-toggle="modal"
                       data-target="#signUpModal">
                        Get started
                    </a>
                    <a href="#WhyPresOnt" class="learnMore" data-menuanchor="WhyPresOnt">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <img src="/img/logo6.png" class="logo">

        <div class="rightColumn">
            <div class="formBox">
                <div>
                    <a href="/user/fbauth/login" class="fb-connect">
                        <i class="fa fa-facebook"></i>
                        <span class="borderBox">&nbsp;</span>
                        Connect with Facebook
                    </a>
                </div>
                <p class="center" style="margin:4px 0 12px;">
                    <span class="lineBordered"></span> <span class="or">or</span> <span class="lineBordered"></span>
                </p>

                <form class="ajaxForm" action="/user/login-process" method="POST" role="form">
                    <div class="form-group no-margin">
                        <div class="alert hide errorAlert"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" name="user_email" placeholder="Email">
                    </div>
                    <div class="form-group" style="position: relative">
                        <input type="password" name="user_password" placeholder="Password">
                        <a href="javascript:void(0)" class="forgotLink" data-toggle="modal"
                           data-target="#forgotPasswordModal">
                            Forgot?
                        </a>
                    </div>
                    <div class="form-group noneMargin">
                        <button type="submit" class="customBtn">
                            Log in
                        </button>
                        <a href="javascript:void(0)" class="customBtn right" data-toggle="modal" data-target="#signUpModal">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="arrowBox">
        <a href="#WhyPresOnt">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
</div>
<div class="section secondPage" style="overflow: hidden;">
    <div class="secondPageBackground">
    </div>
    <div class="column6big">
        <div class="column12" style="padding: 20px 20px 35px 3px;">
            <img src="/img/logo5.png" style="width: 240px;">
        </div>
        <div class="column6" style="padding-left: 10px;padding-top: 0;padding-right: 10px;">
            <h4 class="JuliusSans">Idea</h4>
            In order to live a balanced and happy life it’s good to be surrounded by things we love and things that give
            us pleasure. To help you do exactly that, we’ve come up with a brand new tool that lets you take all the
            things available online that you’d love to own or to receive as presents and store them in one
            place.<br><br>
            <h4 class="JuliusSans">Why PresOnt?</h4>
            People give presents to make one another happy and bring joy. Presents are an expression of love and
            appreciation.<br>
            How many presents have you received that ended up hidden away, out of reach on the top shelf of your closet
            or buried at the back of a bottom drawer, taking up valuable space and collecting dust because they’re
            things you never wanted, never used and never liked?<br>
            And, have you ever spent precious time and money choosing a present for someone you care about, only to
            discover some time later they didn’t like it at all, and never even took it out of the box?<br>
        </div>
        <div class="column6" style="padding-right: 0;padding-left: 10px;padding-top: 39px;">
            Imagine you were one of those gifts, lonely and abandoned, hiding away from your owner with no meaning in
            your life. Let’s face it, it’s better to let those presents go and make room for new ones – things you’re
            proud to call your own, that you’ll actually use and take care of.<br><br>
            PresOnt offers you a great place to collect, save and display everything you’d like to buy or would love to
            receive on your birthday/baby shower/kids’ birthday or any other occasion where loved ones and friends
            traditionally give gifts as a token of love and affection.<br>
            Let them find out without telling them yourself!<br>
            By enabling you to collect together all the items you’d like to own and share, PresOnt avoids the
            uncomfortable situation of having to tell people exactly what type of gift you’d really like to be
            given.<br>
            It’s not only a wonderful way of letting people know what you want and need without telling them directly,
            it also lets you discover what other people like and care about. So, you can show your love in a way they’ll
            truly appreciate.<br>
        </div>
    </div>
    <div class="column4">
        <div class="column12" style="padding: 20px 15px 0 20px; text-align: right;">
            <img src="/img/logo6.png" style="width: 80px;">
        </div>
        <div class="macBlock">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal">
                <img src="/img/screen2.png" class="imac-tpl">
            </a>
            <!--            <img src="/img/2-screen.jpg" class="mac-screen">-->
            <a href="" class="customBtn " style="float: right; margin-right: 20px;" data-toggle="modal"
               data-target="#signUpModal">Register</a>
        </div>
    </div>
    <div class="arrowBox">
        <a href="#HowItWorks">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
</div>
<div class="section secondPage" style="overflow: hidden;">
    <div class="secondPageBackground">
    </div>
    <div class="column6big">
        <div class="column12" style="padding: 20px 20px 35px 3px;">
            <img src="/img/logo5.png" style="width: 240px;">
        </div>
        <div class="column6" style="padding-left: 10px;padding-top: 0;padding-right: 10px;">
            <h4 class="JuliusSans">How it works</h4>
            Sign up! Download the browser extension. Open any item you like in the online shop and push the extension button on your browser. Or copy paste the URL in URL box. Et voila! It´s already on your list.<br><br>
            Whenever you get a present or buy one for someone else you can archive it. Or, if you don’t like it anymore, you can delete it from your list forever.<br><br>
            Search for friends by typing their full name or number in Search window.<br>
            things you really like!
        </div>
        <div class="column6" style="padding-right: 0;padding-left: 10px;padding-top: 39px;">
            It´s an easy way to share the kind of things you like with friends, so they’ll know the perfect presents to get for you or your family. And it also makes it easy for YOU to choose the perfect present for the ones you love.<br>
            Always give and receive the perfect present! Because it matters!<br><br>
            For a balanced life and a tidy house, surround yourself only with things that bring you joy and make you happy! Things that are hidden out of sight because they don´t make you happy would, if they were human, feel sad as well for being ignored and unloved. So let them go to make room for the
        </div>
    </div>
    <div class="column4">
        <div class="column12" style="padding: 20px 15px 0 20px; text-align: right;">
            <img src="/img/logo6.png" style="width: 80px;">
        </div>
        <div class="macBlock">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal">
                <img src="/img/screen2.png" class="imac-tpl">
            </a>
            <!--            <img src="/img/2-screen.jpg" class="mac-screen">-->
            <a href="" class="customBtn" style="float: right; margin-right: 20px;" data-toggle="modal"
               data-target="#signUpModal">Register</a>
        </div>
    </div>
</div>