<div class="row">
    <!-- begin:profile-account -->
    <div class="col-md-12">
        <div class="post-container">
            <div class="post-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-heading-title">
                            <h2>
                                <?php if ($this->users) : ?>
                                    Search Results
                                <?php else : ?>
                                    No Results.
                                <?php endif; ?>
                            </h2>
                        </div>
                    </div>
                    <?php foreach ($this->users as $user) : ?>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <a href="/wish-list/<?php echo $user->getId(); ?>">
                                <div class="team-container">
                                    <div class="team-img">
                                        <img src="<?php echo $user->getAvatar(); ?>" alt="<?php echo $user->getFullName(); ?>" style="width: 153px;">
                                    </div>
                                    <h3>
                                        <?php echo $user->getFullName(); ?>
                                    </h3>
                                </div>
                            </a>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>