<div class="column">
    <div class="textBox">
        <div class="bigText">
            Lets make them happy!
        </div>
        <div class="smallText">
            Make your wishlist and share!
        </div>
        <div>
            <a href="#" class="learnMore">
                Learn More
            </a>
        </div>
    </div>
</div>
<div class="column">
    <div class="formBox">
        <div>
            <a href="/user/fbauth/login">
                <img src="/img/fb_c.png" width="246">
            </a>
        </div>
        <p class="center">
            <span class="lineBordered"></span> <span class="or">or</span> <span class="lineBordered"></span>
        </p>
        <form class="ajaxForm" action="/user/signup-process" method="POST" role="form">
            <div class="form-group">
                <div class="alert hide errorAlert"></div>
            </div>
            <div class="form-group">
                <input type="text" name="user_fname" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" name="user_lname" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="email" name="user_email" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="user_password" placeholder="Password">
            </div>
            <div class="form-group noneMargin">
                <a href="/login" class="btn btn-black">Log in</a>
                <button type="submit" class="btn btn-white right">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</div>
